* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
}

.container {
    font-family: 'Share Tech Mono', monospace;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    /* box shadow */
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

.clock {
    background-color: #06425C; /* Dark Blue */
    border: 10px solid black;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 25px auto 0 auto;
    position: relative;
    /* box shadow */
    -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.75);
}

.status {
    font-size: 28px;
    font-weight: bold;
    height: 15%;
    margin: 80px auto 0 auto;
    width: 55%;
}

.work, .play {
    background-color: #488FC8; /* Medium Blue */
    border-radius: 5px;
    border-style: solid;
    cursor: default;
    height: 100%;
    width: 40%;
    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.cursorPointer {
    cursor: pointer;
}

.work {
    float: left;
}

.play {
    float: right;
}

.display {
    background-color: #FAFAFA; /* Dark Blue */
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    font-size: 60px;
    height: 20%;
    width: 65%;
    /* center display */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* center text */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.red {
    color: #FF0000; /* Red */
}

.sessions {
    width: 300px;
    /* position line of squares */
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, 0);
    /* align content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    background-color: #488FC8; /* Medium Blue */
    border-radius: 3px;
    border: 3px solid black;
    float: left;
    height: 15px;
    margin: auto 10px;
    width: 15px;
    /* box shadow */
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

.buttons {
    width: 60%;
    height: 15%;
    /* position buttons on circle*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    /* center squares */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #488FC8; /* Medium Blue */
    border-radius: 4px;
    border: 3px solid black;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0 5px 0 5px;
    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.button:hover {
    background-color: #CEDFEF; /* Light Blue */
    font-size: 125%;
    outline: none;
    transform: scale(1.2);
    -webkit-transition-duration: 0.2s; /* Safari */
}

.button:active {
    box-shadow: 4px 5px gray;
    transform: translateY(3px) translateX(1px);
}

.buttonPressed {
    background-color: #488FC8; /* Medium Blue */
    border-radius: 4px;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    margin: 0 5px 0 5px;
    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Pressed button effect */
    transform: translateY(3px) translateX(1px);
}

.highlight {
    background-color: #CEDFEF; /* Light Blue */
    font-size: 125%;
    transform: scale(1.2);
}

.buttonInactive {
    background-color: #488FC8; /* Medium Blue */
    border-radius: 4px;
    border: 3px solid black;
    cursor: default;
    height: 50px;
    width: 50px;
    margin: 0 5px 0 5px;
    /* center content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/* ========== Settings Area */
.settings {
    height: 130px;
    margin: 30px auto 0 auto;
    width: 500px;
    /* center content */
    display: flex;
    justify-content: center;
}

.work-duration, .sound, .play-duration {
    background-color: #06425C; /* Dark Blue */
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    /* box shadow */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.work-time, .play-time {
    background-color: #FAFAFA; /* Milky White */
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    font-size: 30px;
    line-height: 45px;
    /* adjust position */
    position: relative;
    top: -30px;
}

.sound {
    margin: 0 25px;
    width: 50px;
}

.sound-on, .sound-off {
    cursor: pointer;
    margin: 12px 0 12px;
}

.sound-on:hover, .sound-off:hover {
    color: #CEDFEF; /* Light Blue */
    transform: scale(1.2);
}

.sound-on:active, .sound-off:active {
    transform: translateY(3px) translateX(1px);
}

/* ========== Icon Sizes */
.material-icons.button-size {
    font-size: 36px;
}

.material-icons.up-arrows {
    cursor: pointer;
    font-size: 80px;
    line-height: 40px;
}

.material-icons.up-arrows:hover {
    color: #CEDFEF; /* Light Blue */
    transform: scale(1.2);
}

.material-icons.up-arrows:active {
    transform: translateY(-3px) translateX(1px);
}

.material-icons.down-arrows {
    cursor: pointer;
    font-size: 80px;
    line-height: 40px;
    /* adjust position */
    position: relative;
    top: -36px;
}

.material-icons.down-arrows:hover {
    color: #CEDFEF; /* Light Blue */
    transform: scale(1.2);
}

.material-icons.down-arrows:active {
    transform: translateY(3px) translateX(-1px);
}

.material-icons.selected {
    color: #CEDFEF; /* Light Blue */
    transform: scale(1.2);
}
